.page-heading h2 {
  color: #333;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.page-heading button, .ss-btn {
  background-color: #333;
  border: none;
  width: 96px;
  height: 40px;
  border-radius: 1.5rem;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.ss-btn {
  display: none;
}



@media screen and (max-width: 1400px) {
  .page-heading h2 {
    font-size: 30px;
  }



}

@media screen and (max-width: 992px) {
  .page-heading h2 {
    font-size: 27px;
  }

  .page-heading button, .ss-btn {
    width: 96px;
    height: 38px;
    font-size: 14px;
    /* display: none; */
  }
}

@media screen and (max-width: 669px) {
  .page-heading h2 {
    font-size: 20px;
  }

  .ls-btn {
    display: none;
  }

  .ss-btn {
    display: block;
    font-size: 12px;
    margin-top: 26px;
  }
}