.dashboard_cards_lg {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.dashboard_cards_sm {
  display: none;
}

.dashboard_card {
  width: 100%;
  border-radius: 1rem;
  background: #e3f5ff;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.dashboard_card_bottom {
  display: flex;
  justify-content: space-between;
}

.dashboard_card_bottom_right {
  display: flex;
  gap: 0.2rem;
}

.dashboard_card:nth-child(even) {
  background: #e5ecf6;
}

.dashboard_container_order_report_container {
  padding: 1rem;
  background: #ffffff !important;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.06);
  border-radius: 0.9375rem;
}

.dashboard_container_order_report_nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.8rem;
}

.dashboard_container_order_report_nav_right {
  display: flex;
  gap: 0rem;
}

.dashboard_container_btn {
  color: white !important;
  border-radius: 1.5rem;
  padding: 0.6rem 1rem;
}

.dashboard_container_btn:hover {
  cursor: pointer;
}

.dashboard_container_status_btn {
  color: white !important;
  border-radius: 1.5rem;
  padding: 0.3rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

th {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.list_card {
  border-radius: 1rem;
  border: 1px solid #f2f2f2;
  background: var(--white-100, #fff);
}

@media screen and (max-width: "600px") {
  .dashboard_cards_sm {
    display: block !important;
  }

  .dashboard_cards_lg {
    display: none !important;
  }
}

.dash-heading {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.dash-desc {
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin-top: -10px;
}

:focus {
  outline: none;
}